.divPartenaire::-webkit-scrollbar {
  display: none;
}

.divPartenaire {
  width: 90%;
  height: 85px;
  margin: 30px auto;
  white-space: nowrap;
  overflow-x: scroll;

  img {
    width: 70px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #666565;
    margin: 5px;
    transition: 0.5s;
  
    &:hover {
      transform: scale(1.1) !important;
    }
  }
}

// DESKTOP
@media screen and (min-width: 1280px) {
  .divPartenaire {
    display: flex;
    justify-content: center;
    margin: 35px auto;
  }
}
